/* Use, tweak, improve, enjoy. Just link back! */
/* http://marvelapp.com */
/* http://twitter.com/olegtsaplin */
.marvel .device, .marvel .device div, .marvel *:before, .marvel *:after {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.marvel .s5.white, .marvel .s5.white .select-landscape {
  color: black; }
.marvel section.black h1, .marvel section.white, .marvel section.black .select-landscape, .marvel section.white .select-landscape {
  color: white; }
.marvel section.gold, .marvel section.silver, .marvel section.blue, .marvel section.red, .marvel section.yellow, .marvel section.green, .marvel .nexus5, .marvel .lumina920, .marvel .s5, .marvel .htc-one {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.marvel .selector {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  display: block;
  position: absolute;
  bottom: 100px;
  left: 0; }
.marvel .selector li {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  display: inline-block;
  text-indent: -9999px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; }
.marvel .select-black {
  background: #2c2b2c; }
.marvel .select-silver {
  background: #f0f0f0; }
.marvel .select-gold {
  background: #f1e2d0; }
.marvel .select-white, .marvel .s5 .select-white, .marvel .s5 .select-white.selected {
  background: white;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3); }
.marvel .select-white.selected {
  -webkit-box-shadow: none;
  box-shadow: none; }
.marvel .select-red {
  background: #f96b6c; }
.marvel .select-yellow {
  background: #f2dc60; }
.marvel .select-green {
  background: #97e563; }
.marvel .select-blue {
  background: #33a2db; }
.marvel .select-landscape {
  text-indent: 0px !important;
  width: 100px !important;
  color: #1e1e1e;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  letter-spacing: 2px;
  padding: 0 10px; }
.marvel .selector li:hover {
  opacity: 1; }
.marvel .selector li.selected {
  -webkit-transition: all 500ms cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }
.marvel .top-bar, .marvel .bottom-bar {
  height: 3px;
  background: black;
  width: 100%;
  display: block; }
.marvel .middle-bar {
  width: 3px;
  height: 4px;
  top: 0px;
  left: 90px;
  background: black;
  position: absolute; }
.marvel .device .screen {
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 2;
  text-align: left;
  text-indent: -999px;
  display: block;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 0 3px .111;
  box-shadow: 0 0 0 3px .111; }
.marvel .iphone5s .device, .marvel .iphone5c .device {
  padding: 105px 22px;
  margin: 0 auto;
  background: #2c2b2c;
  position: relative;
  width: 320px;
  height: 568px;
  display: block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
.marvel .iphone5s.landscape .device, .marvel .iphone5c.landscape .device {
  padding: 22px 105px;
  height: 320px;
  width: 568px; }
.marvel .iphone5s .inner, .marvel .iphone5c .inner {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  top: 4px;
  left: 4px;
  -moz-border-radius: 46px;
  -webkit-border-radius: 46px;
  border-radius: 46px;
  background: #1e1e1e;
  z-index: 1; }
.marvel .iphone5s .sleep, .marvel .iphone5c .sleep {
  position: absolute;
  top: -4px;
  right: 60px;
  width: 60px;
  height: 4px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  background: #282727; }
.marvel .iphone5s.landscape .sleep, .marvel .iphone5c.landscape .sleep {
  right: -4px;
  top: calc(100% - 120px);
  height: 60px;
  width: 4px;
  -webkit-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px; }
.marvel .iphone5s .volume, .marvel .iphone5c .volume {
  position: absolute;
  left: -4px;
  top: 180px;
  z-index: 0;
  height: 27px;
  width: 4px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: #282727; }
.marvel .iphone5s.landscape .volume, .marvel .iphone5c.landscape .volume {
  width: 27px;
  height: 4px;
  top: -4px;
  left: calc(100% - 180px);
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px; }
.marvel .iphone5s .volume:before, .marvel .iphone5c .volume:before {
  position: absolute;
  left: 0px;
  top: -75px;
  height: 35px;
  width: 4px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: inherit;
  content: '';
  display: block; }
.marvel .iphone5s.landscape .volume:before, .marvel .iphone5c.landscape .volume:before {
  width: 35px;
  height: 4px;
  top: 0px;
  right: -75px;
  left: auto;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px; }
.marvel .iphone5s .volume:after, .marvel .iphone5c .volume:after {
  position: absolute;
  left: 0px;
  bottom: -64px;
  height: 27px;
  width: 4px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: inherit;
  content: '';
  display: block; }
.marvel .iphone5s.landscape .volume:after, .marvel .iphone5c.landscape .volume:after {
  bottom: 0px;
  left: -64px;
  z-index: 999;
  height: 4px;
  width: 27px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px; }
.marvel .iphone5s .camera, .marvel .iphone5c .camera {
  background: #3c3d3d;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 32px;
  left: 50%;
  margin-left: -5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 3; }
.marvel .iphone5s.landscape .camera, .marvel .iphone5c.landscape .camera {
  left: calc(100% - 32px);
  top: 50%;
  margin-left: 0px;
  margin-top: -5px; }
.marvel .iphone5s .sensor, .marvel .iphone5c .sensor {
  background: #3c3d3d;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 60px;
  left: 160px;
  z-index: 3;
  margin-left: -32px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.marvel .iphone5s.landscape .sensor, .marvel .iphone5c.landscape .sensor {
  top: 160px;
  left: calc(100% - 60px);
  margin-left: 0px;
  margin-top: -32px; }
.marvel .iphone5s .speaker, .marvel .iphone5c .speaker {
  background: #292728;
  width: 64px;
  height: 10px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -32px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 3; }
.marvel .iphone5s.landscape .speaker, .marvel .iphone5c.landscape .speaker {
  height: 64px;
  width: 10px;
  left: calc(100% - 60px);
  top: 50%;
  margin-left: 0px;
  margin-top: -32px; }
.marvel .iphone5s .home {
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  width: 68px;
  -webkit-box-shadow: inset 0 0 0 4px #2c2b2c;
  box-shadow: inset 0 0 0 4px #2c2b2c;
  height: 68px;
  position: absolute;
  left: 50%;
  margin-left: -34px;
  bottom: 19px;
  z-index: 3; }
.marvel .iphone5s.landscape .home {
  left: 19px;
  bottom: 50%;
  margin-bottom: -34px;
  margin-left: 0px; }
.marvel .iphone5c .home {
  background: #242324;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  width: 68px;
  height: 68px;
  z-index: 3;
  position: absolute;
  left: 50%;
  margin-left: -34px;
  bottom: 19px; }
.marvel .iphone5s.landscape .home {
  left: 19px;
  bottom: 50%;
  margin-bottom: -34px;
  margin-left: 0px; }
.marvel .iphone5c .home:after {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -11px; }
.marvel .iphone5c.landscape .home {
  left: 19px;
  bottom: 50%;
  margin-bottom: -34px;
  margin-left: 0px; }
.marvel .iphone5s .home:after {
  display: none; }
.marvel .iphone5s .top-bar {
  top: 70px;
  position: absolute;
  left: 0; }
.marvel .iphone5s.landscape .top-bar {
  left: 70px;
  top: 0px;
  width: 3px;
  height: 100%; }
.marvel .iphone5s .bottom-bar {
  bottom: 70px;
  position: absolute;
  left: 0; }
.marvel .iphone5s.landscape .bottom-bar {
  right: 70px;
  left: auto;
  bottom: 0px;
  width: 3px;
  height: 100%; }
.marvel .iphone4s .device {
  padding: 129px 27px;
  margin: 0 auto;
  width: 320px;
  height: 480px;
  background: #474648;
  position: relative;
  -moz-border-radius: 54px;
  -webkit-border-radius: 54px;
  border-radius: 54px; }
.marvel .iphone4s.landscape .device {
  padding: 27px 129px;
  height: 320px;
  width: 480px; }
.marvel .iphone4s .inner {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #1e1e1e; }
.marvel .iphone4s .bottom-bar {
  bottom: 90px;
  position: absolute;
  left: 0; }
.marvel .iphone4s.landscape .bottom-bar {
  left: 90px;
  bottom: 0px;
  height: 100%;
  width: 3px; }
.marvel .iphone4s .top-bar {
  top: 60px;
  position: absolute;
  left: 0; }
.marvel .iphone4s.landscape .top-bar {
  left: calc(100% - 60px);
  top: 0px;
  height: 100%;
  width: 3px; }
.marvel .iphone4s .camera {
  background: #3c3d3d;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 72px;
  left: 134px;
  z-index: 3;
  margin-left: -5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.marvel .iphone4s.landscape .camera {
  top: 134px;
  left: calc(100% - 72px);
  margin-left: 0; }
.marvel .iphone4s .speaker {
  background: #292728;
  width: 64px;
  height: 10px;
  position: absolute;
  top: 72px;
  left: 50%;
  z-index: 3;
  margin-left: -32px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.marvel .iphone4s.landscape .speaker {
  top: 50%;
  margin-left: 0;
  margin-top: -32px;
  left: calc(100% - 72px);
  width: 10px;
  height: 64px; }
.marvel .iphone4s .sensor {
  background: #292728;
  width: 40px;
  height: 10px;
  position: absolute;
  top: 36px;
  left: 50%;
  z-index: 3;
  margin-left: -20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.marvel .iphone4s.landscape .sensor {
  height: 40px;
  width: 10px;
  left: calc(100% - 36px);
  top: 50%;
  margin-left: 0;
  margin-top: -20px; }
.marvel .iphone4s .home {
  background: #242324;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  width: 72px;
  height: 72px;
  z-index: 3;
  position: absolute;
  left: 50%;
  margin-left: -36px;
  bottom: 30px; }
.marvel .iphone4s.landscape .home {
  left: 30px;
  bottom: 50%;
  margin-left: 0;
  margin-bottom: -36px; }
.marvel .iphone4s .home:after {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -11px; }
.marvel .iphone4s .sleep {
  position: absolute;
  top: -4px;
  right: 60px;
  width: 60px;
  height: 4px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  background: .4D4D4D; }
.marvel .iphone4s.landscape .sleep {
  height: 60px;
  width: 4px;
  right: -4px;
  top: calc(100% - 120px);
  -webkit-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px; }
.marvel .iphone4s .volume {
  position: absolute;
  left: -4px;
  top: 160px;
  height: 27px;
  width: 4px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: .4D4D4D; }
.marvel .iphone4s.landscape .volume {
  top: -4px;
  left: calc(100% - 187px);
  height: 4px;
  width: 27px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px; }
.marvel .iphone4s .volume:before {
  position: absolute;
  left: 0px;
  top: -70px;
  height: 35px;
  width: 4px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: inherit;
  content: '';
  display: block; }
.marvel .iphone4s.landscape .volume:before {
  right: -70px;
  left: auto;
  top: 0px;
  width: 35px;
  height: 4px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px; }
.marvel .iphone4s .volume:after {
  position: absolute;
  left: 0px;
  bottom: -64px;
  height: 27px;
  width: 4px;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background: inherit;
  content: '';
  display: block; }
.marvel .iphone4s.landscape .volume:after {
  width: 27px;
  height: 4px;
  bottom: 0px;
  left: -64px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px; }
.marvel .iphone4s.silver .device {
  background: #bcbcbc; }
.marvel .nexus5 .device {
  padding: 50px 15px 50px 15px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  background: #181818;
  position: relative; }
.marvel .nexus5.landscape .device {
  padding: 15px 50px 15px 50px;
  height: 320px;
  width: 568px; }
.marvel .nexus5 .device:before {
  -webkit-border-radius: 600px / 50px;
  border-radius: 600px / 50px;
  background: inherit;
  content: '';
  top: 0;
  position: absolute;
  height: 103.1%;
  width: calc(100% - 26px);
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
.marvel .nexus5.landscape .device:before {
  width: 103.1%;
  height: calc(100% - 26px);
  -webkit-border-radius: 50px / 600px;
  border-radius: 50px / 600px; }
.marvel .nexus5 .inner {
  width: calc(100% - 8px);
  height: calc(100% - 6px);
  position: absolute;
  top: 3px;
  left: 4px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #1e1e1e; }
.marvel .nexus5.landscape .inner {
  left: 3px;
  top: 4px;
  height: calc(100% - 8px);
  width: calc(100% - 6px); }
.marvel .nexus5 .inner:before {
  -webkit-border-radius: 600px / 50px;
  border-radius: 600px / 50px;
  background: inherit;
  content: '';
  top: 0;
  position: absolute;
  height: 103.0%;
  width: calc(100% - 26px);
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
.marvel .nexus5.landscape .inner:before {
  width: 103%;
  height: calc(100% - 26px);
  -webkit-border-radius: 50px / 600px;
  border-radius: 50px / 600px; }
.marvel .nexus5 .button {
  width: 3px;
  position: absolute;
  left: -3px;
  top: 110px;
  height: 100px;
  background: inherit;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px; }
.marvel .nexus5.landscape .button {
  height: 3px;
  width: 100px;
  left: calc(100% - 210px);
  top: -3px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px; }
.marvel .nexus5 .lock {
  width: 3px;
  position: absolute;
  right: -3px;
  top: 70px;
  height: 45px;
  background: inherit;
  -webkit-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px; }
.marvel .nexus5.landscape .lock {
  height: 3px;
  width: 45px;
  right: 70px;
  top: 100%;
  -webkit-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px; }
.marvel .nexus5 .camera {
  background: #3c3d3d;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 18px;
  left: 50%;
  z-index: 3;
  margin-left: -5px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%; }
.marvel .nexus5.landscape .camera {
  top: 50%;
  left: calc(100% - 18px);
  margin-left: 0;
  margin-top: -5px; }
.marvel .nexus5 .camera:before {
  background: #3c3d3d;
  width: 6px;
  height: 6px;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: -100px;
  z-index: 3;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%; }
.marvel .nexus5.landscape .camera:before {
  top: -100px;
  left: 2px; }
.marvel .ipad .device {
  width: 576px;
  height: 768px;
  padding: 90px 25px;
  margin: 0 auto;
  background: #242324;
  position: relative;
  -moz-border-radius: 44px;
  -webkit-border-radius: 44px;
  border-radius: 44px; }
.marvel .ipad.landscape .device {
  height: 576px;
  width: 768px;
  padding: 25px 90px; }
.marvel .ipad .inner {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  top: 4px;
  left: 4px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #1e1e1e; }
.marvel .ipad .camera {
  background: #3c3d3d;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 44px;
  left: 50%;
  margin-left: -5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.marvel .ipad.landscape .camera {
  left: calc(100% - 44px);
  top: 50%;
  margin-left: 0;
  margin-top: -5px; }
.marvel .ipad .home {
  background: #242324;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 22px; }
.marvel .ipad.landscape .home {
  top: 50%;
  left: 22px;
  margin-left: 0;
  margin-top: -25px; }
.marvel .ipad .home:after {
  width: 15px;
  height: 15px;
  margin-top: -8px;
  margin-left: -8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 50%; }
.marvel .lumina920 .device {
  padding: 80px 35px 125px 35px;
  margin: 0 auto;
  background: #ffdd00;
  position: relative;
  width: 320px;
  height: 568px;
  display: block;
  -moz-border-radius: 40px / 3px;
  -webkit-border-radius: 40px / 3px;
  border-radius: 40px / 3px; }
.marvel .lumina920.landscape .device {
  padding: 35px 80px 35px 125px;
  height: 320px;
  width: 568px;
  -moz-border-radius: 2px / 100px;
  -webkit-border-radius: 2px / 100px;
  border-radius: 2px / 100px; }
.marvel .lumina920 .inner {
  width: calc(100% - 24px);
  height: calc(100% - 32px);
  position: absolute;
  top: 16px;
  left: 12px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  background: black;
  z-index: 1; }
.marvel .lumina920 .inner:before {
  background: #1e1e1e;
  display: block;
  content: '';
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  position: absolute;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px; }
.marvel .lumina920.landscape .inner {
  height: calc(100% - 24px);
  width: calc(100% - 32px);
  left: 16px;
  top: 12px; }
.marvel .lumina920 .screen:before {
  background-position: 0 -34px; }
.marvel .lumina920 .button {
  width: 3px;
  position: absolute;
  top: 130px;
  height: 100px;
  background: black;
  right: -3px;
  -webkit-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px; }
.marvel .lumina920.landscape .button {
  height: 3px;
  right: 130px;
  width: 100px;
  top: 100%;
  -webkit-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px; }
.marvel .lumina920 .button:before {
  width: 3px;
  position: absolute;
  top: 190px;
  content: '';
  display: block;
  height: 50px;
  background: inherit;
  right: 0px;
  -webkit-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px; }
.marvel .lumina920.landscape .button:before {
  height: 3px;
  right: 190px;
  top: 0px;
  width: 50px;
  -webkit-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px; }
.marvel .lumina920 .button:after {
  width: 3px;
  position: absolute;
  top: 460px;
  content: '';
  display: block;
  height: 50px;
  background: inherit;
  right: 0px;
  -webkit-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px; }
.marvel .lumina920.landscape .button:after {
  height: 3px;
  right: 430px;
  top: 0px;
  width: 50px;
  -webkit-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px; }
.marvel .lumina920 .camera {
  background: #3c3d3d;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 34px;
  right: 130px;
  z-index: 5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.marvel .lumina920.landscape .camera {
  right: 28px;
  top: calc(100% - 130px); }
.marvel .lumina920 .speaker {
  background: #292728;
  width: 64px;
  height: 10px;
  position: absolute;
  top: 38px;
  left: 50%;
  margin-left: -32px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 3; }
.marvel .lumina920.landscape .speaker {
  width: 10px;
  height: 64px;
  top: 50%;
  margin-left: 0;
  margin-top: -32px;
  left: calc(100% - 38px); }
.marvel .s5 .device {
  padding: 60px 18px;
  -webkit-border-radius: 42px;
  border-radius: 42px;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  background: #bcbcbc;
  position: relative; }
.marvel .s5.landscape .device {
  padding: 18px 60px;
  height: 320px;
  width: 568px; }
.marvel .s5 .device:before, .marvel .s5 .device:after {
  width: calc(100% - 52px);
  content: '';
  display: block;
  height: 26px;
  background: inherit;
  position: absolute;
  -webkit-border-radius: 500px / 40px;
  border-radius: 500px / 40px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
.marvel .s5.landscape .device:before, .marvel .s5.landscape .device:after {
  height: calc(100% - 52px);
  width: 26px;
  -webkit-border-radius: 40px / 500px;
  border-radius: 40px / 500px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.marvel .s5 .device:before {
  top: -7px; }
.marvel .s5.landscape .device:before {
  top: 50%;
  left: -7px; }
.marvel .s5 .device:after {
  bottom: -7px; }
.marvel .s5.landscape .device:after {
  top: 50%;
  left: auto;
  right: -7px; }
.marvel .s5 .inner {
  -webkit-border-radius: 37px;
  border-radius: 37px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  top: 5px;
  left: 5px;
  background: radial-gradient(rgba(0, 0, 0, 0.02) 20%, transparent 60%) 0 0, radial-gradient(rgba(0, 0, 0, 0.02) 20%, transparent 60%) 3px 3px;
  background-color: white;
  background-size: 4px 4px;
  background-position: center;
  z-index: 2;
  position: absolute; }
.marvel .s5 .inner:before, .marvel .s5 .inner:after {
  width: calc(100% - 48px);
  content: '';
  display: block;
  height: 26px;
  background: inherit;
  position: absolute;
  -webkit-border-radius: 500px / 40px;
  border-radius: 500px / 40px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
.marvel .s5.landscape .inner:before, .marvel .s5.landscape .inner:after {
  width: 26px;
  height: calc(100% - 48px);
  -webkit-border-radius: 40px / 500px;
  border-radius: 40px / 500px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.marvel .s5 .inner:before {
  top: -7px; }
.marvel .s5.landscape .inner:before {
  right: -7px;
  top: 50%;
  left: auto; }
.marvel .s5 .inner:after {
  bottom: -7px; }
.marvel .s5.landscape .inner:after {
  left: -7px;
  top: 50%;
  right: auto; }
.marvel .s5 .lock {
  width: 3px;
  position: absolute;
  left: -3px;
  top: 100px;
  height: 100px;
  background: #cecece;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px; }
.marvel .s5.landscape .lock {
  height: 3px;
  width: 100px;
  left: calc(100% - 200px);
  top: -3px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px; }
.marvel .s5 .speaker {
  width: 68px;
  height: 8px;
  position: absolute;
  top: 20px;
  display: block;
  z-index: 3;
  left: 50%;
  margin-left: -34px;
  background-color: #bcbcbc;
  background-position: top left;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
.marvel .s5.landscape .speaker {
  height: 68px;
  width: 8px;
  left: calc(100% - 20px);
  top: 50%;
  margin-left: 0;
  margin-top: -34px; }
.marvel .s5 .sensor {
  display: block;
  position: absolute;
  top: 20px;
  right: 110px;
  background: #3c3d3d;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  z-index: 3; }
.marvel .s5.landscape .sensor {
  right: 20px;
  top: calc(100% - 110px); }
.marvel .s5 .sensor:after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  right: 12px;
  background: #3c3d3d;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  z-index: 3; }
.marvel .s5.landscape .sensor:after {
  top: -12px;
  right: 0px; }
.marvel .s5 .camera {
  display: block;
  position: absolute;
  top: 24px;
  right: 42px;
  background: black;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  z-index: 3; }
.marvel .s5.landscape .camera {
  top: calc(100% - 42px);
  right: 24px; }
.marvel .s5 .camera:before {
  width: 4px;
  height: 4px;
  background: #3c3d3d;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -2px; }
.marvel .s5 .home {
  position: absolute;
  z-index: 3;
  bottom: 17px;
  left: 50%;
  width: 70px;
  height: 20px;
  background: white;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  display: block;
  margin-left: -35px;
  border: 2px solid black; }
.marvel .s5.landscape .home {
  width: 20px;
  height: 70px;
  bottom: 50%;
  margin-bottom: -35px;
  margin-left: 0;
  left: 17px; }
.marvel .htc-one .device {
  padding: 72px 25px 100px 25px;
  margin: 0 auto;
  width: 320px;
  height: 568px;
  background: #bebebe;
  position: relative;
  -moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  border-radius: 34px; }
.marvel .htc-one.landscape .device {
  padding: 25px 72px 25px 100px;
  height: 320px;
  width: 568px; }
.marvel .htc-one .device:before {
  content: '';
  display: block;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  top: 2px;
  left: 2px;
  background: #adadad;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px; }
.marvel .htc-one .device:after {
  content: '';
  display: block;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  top: 4px;
  left: 4px;
  background: #eeeeee;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px; }
.marvel .htc-one .screen {
  -webkit-box-shadow: none;
  box-shadow: none; }
.marvel .htc-one .inner {
  width: calc(100% - 4px);
  height: 635px;
  position: absolute;
  background: #424242;
  top: 50px;
  z-index: 1;
  left: 2px; }
.marvel .htc-one.landscape .inner {
  height: calc(100% - 4px);
  width: 635px;
  left: calc(100% - 685px);
  top: 2px; }
.marvel .htc-one .inner:before {
  content: '';
  position: absolute;
  width: calc(100% - 4px);
  height: 100%;
  position: absolute;
  background: black;
  top: 0px;
  z-index: 1;
  left: 2px; }
.marvel .htc-one .speaker {
  height: 16px;
  width: 216px;
  display: block;
  position: absolute;
  top: 22px;
  z-index: 2;
  left: 50%;
  margin-left: -108px;
  background: radial-gradient(0.34343 25%, transparent 50%) 0 0, radial-gradient(0.34343 25%, transparent 50%) 4px 4px;
  background-size: 4px 4px;
  background-position: top left; }
.marvel .htc-one.landscape .speaker {
  width: 16px;
  height: 216px;
  left: calc(100% - 38px);
  top: 50%;
  margin-left: 0px;
  margin-top: -108px; }
.marvel .htc-one .speaker:after {
  content: '';
  height: 16px;
  width: 216px;
  display: block;
  position: absolute;
  top: 676px;
  z-index: 2;
  left: 50%;
  margin-left: -108px;
  background: inherit; }
.marvel .htc-one.landscape .speaker:after {
  width: 16px;
  height: 216px;
  left: calc(100% - 692px);
  top: 50%;
  margin-left: 0;
  margin-top: -108px; }
.marvel .htc-one .camera {
  display: block;
  position: absolute;
  top: 18px;
  right: 38px;
  background: #3c3d3d;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  z-index: 3; }
.marvel .htc-one.landscape .camera {
  right: 18px;
  top: calc(100% - 38px); }
.marvel .htc-one .camera:before {
  width: 8px;
  height: 8px;
  background: black;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px; }
.marvel .htc-one .sensor {
  display: block;
  position: absolute;
  top: 29px;
  left: 60px;
  background: #3c3d3d;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  z-index: 3; }
.marvel .htc-one.landscape .sensor {
  left: calc(100% - 29px);
  top: 60px; }
.marvel .htc-one .sensor:after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  right: 12px;
  background: #3c3d3d;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  z-index: 3; }
.marvel .htc-one.landscape .sensor:after {
  right: 0;
  top: -12px; }
.marvel .iphone5s.silver .device, .marvel .iphone4s.silver .device, .marvel .ipad.silver .device, .marvel .ipad-landscape.silver .device {
  background: #bcbcbc; }
.marvel .iphone5s.gold .device {
  background: #f1e2d0; }
.marvel .iphone5s.silver .inner, .marvel .iphone5s.gold .inner, .marvel .iphone4s.silver .inner, .marvel .ipad.silver .inner, .marvel .ipad-landscape .inner {
  background: #fcfcfc; }
.marvel .iphone5s.silver .home {
  -webkit-box-shadow: inset 0 0 0 4px #bcbcbc;
  box-shadow: inset 0 0 0 4px #bcbcbc; }
.marvel .iphone5s.gold .home {
  -webkit-box-shadow: inset 0 0 0 4px #f1e2d0;
  box-shadow: inset 0 0 0 4px #f1e2d0; }
.marvel .iphone4s.silver .home, .marvel .ipad.silver .home, .marvel .ipad-landscape.silver .home {
  background: #fcfcfc;
  -webkit-box-shadow: inset 0 0 0 1px #bcbcbc;
  box-shadow: inset 0 0 0 1px #bcbcbc; }
.marvel .silver .home:after, .marvel .gold .home:after {
  border: 1px solid rgba(0, 0, 0, 0.2) !important; }
.marvel .iphone5s.silver .top-bar, .marvel .iphone5s.silver .bottom-bar, .marvel .iphone5s.gold .top-bar, .marvel .iphone5s.gold .bottom-bar {
  background: #eaebec; }
.marvel .iphone5c.white .device {
  background: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
.marvel .iphone5c.white .volume, .marvel .iphone5c.white .sleep {
  background: #dddddd; }
.marvel .iphone5c.red .device {
  background: #f96b6c; }
.marvel .iphone5c.red .volume, .marvel .iphone5c.red .sleep {
  background: #ed5758; }
.marvel .iphone5c.yellow .device {
  background: #f2dc60; }
.marvel .iphone5c.yellow .volume, .marvel .iphone5c.yellow .sleep {
  background: #e5ce4c; }
.marvel .iphone5c.green .device {
  background: #97e563; }
.marvel .iphone5c.green .volume, .marvel .iphone5c.green .sleep {
  background: #85d94d; }
.marvel .iphone5c.blue .device {
  background: #33a2db; }
.marvel .iphone5c.blue .volume, .marvel .iphone5c.blue .sleep {
  background: #2694cd; }
.marvel .iphone5s.silver .volume, .marvel .iphone5s.silver .sleep, .marvel .iphone4s.silver .volume, .marvel .iphone4s.silver .sleep {
  background: #d6d6d6; }
.marvel .iphone5s.gold .volume, .marvel .iphone5s.gold .sleep {
  background: #ebdac7; }
.marvel .lumina920.black .device {
  background: black; }
.marvel .lumina920.white .device {
  background: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
.marvel .lumina920.blue .device {
  background: #00acdd; }
.marvel .lumina920.red .device {
  background: #e62e1f; }
.marvel .s5.black .device, .marvel .s5.black .speaker, .marvel .s5.black .lock {
  background: black; }
.marvel .s5.black .inner {
  background: radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 60%) 0 0, radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 60%) 3px 3px;
  background-color: #2c2b2c;
  background-size: 4px 4px; }
.marvel .s5.black .home {
  background: #2c2b2c; }
